FORMAT: 1A
HOST: http://api.bingo.boom

# BingoBoom API
Пример межпартнёрского API

## Поиск игрока [/search]
Ресурс возвращающий номер кошелька, баланс и самого игрока

+ Model (application/hal+json)

    + Body

            {
                "nickname": "Ivan",
                "balance": "0.00",
                "phone": "79060060999",
                "wallet_id": 654644,
                "surname": "Иванов",
                "name": "Иван",
                "patronymic": "Иванович",
                "birthday": "1980-08-01"
            }
            
### Поиск [POST]
Возвращает игрока

+ Request (application/json)

    + Body

            {
                "auth": {
                    "login": "megaPeople",
                    "pass": "7c94566cd9aba3680d19e1b000a948ffbca075fd320956b23b6a1f3a0d28ff1f"
                },
                "phone": "79060060999"
            }

+ Response 200

    [Поиск игрока][]

+ Response 401

    + Body

            {
                "error": "Invalid login or password"
            }

+ Response 403

    + Body

            {
                "error": "Not active user"
            }

+ Response 404

    + Body

            {
                "error": "No user in DB"
            }


## Транзакции [/transactions]
Ресурс возвращающий все транзакции по переводу денег

+ Model (application/hal+json)

    + Body

            {
                "transactions":[{
                    "pi_id": 1,
                    "wallet_id": 654644,
                    "amount": "10.00",
                    "destination": "out",
                    "status": "pending",
                    "created_at": "2014-08-01T23:00:49-07:00"
                    }, {
                    "pi_id": 10,
                    "wallet_id": 654645,
                    "amount": "11.00",
                    "destination": "in",
                    "status": true",
                    "created_at": "2013-08-01T23:00:49-07:00"}
                ]
            }
            
### Поиск [POST]
Возвращает список транзакций

+ Request (application/json)
    + Body

            {
                "auth": {
                    "login": "megaPeople",
                    "pass": "7c94566cd9aba3680d19e1b000a948ffbca075fd320956b23b6a1f3a0d28ff1f"
                }
            }

+ Response 200

    [Транзакции][]
    
+ Response 401

    + Body

            {
                "error": "Invalid login or password"
            }


